:root {
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --darg-gray-blue: hsl(224, 30%, 27%);
  --slate-blue: hsl(252, 100%, 67%);
  --royal-blue: hsl(241, 81%, 54%);

  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --dark-green: #377b62;
  --very-dark-blue: hsl(212, 21%, 14%);
--dark-grayish-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);

}
body{
	display : flex;
	 align-items: center;
  justify-content: center;
	background-color: rgba(243,234,227,255);
	 font-family: "Fraunces", Montserrat;
}
/*
- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
*/

.container{
  display:flex;
  flex-direction: row;
  max-width : 700px;
  max-height: 400px;
  margin-top: 15%;
  border-radius: 15px;
  text-align: center;
  box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, 0.3);
  border-radius :5%;
}

img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
    border-radius :5%;
}

.description{
	display : flex;
	flex-direction: column;
	background-color: #ffffff;
	text-align : left;
	padding-left : 25px;
	border-radius: 10px;
}

.description h3{
   color : #d0d1d4;
}

.pricing{
	display : flex;
	flex-direction: row;
	 align-items: left;
	   
	   gap :1.2em;
}

.pricing h1{
color: var(--dark-green);
}
.pricing > h3 {
	text-decoration: line-through;
}

button {
	background-color: var(--dark-green);
	width:30%;
	border-radius: 18px;
	text-align: center;
}